html
  head
    title 'Just F*#$ing Pick Something'
    style
      include ../css/style.css
  body
    .content
      .restaurant_name= 'Just grab ' + name + '.'
      .restaurant_address_label=  'Address'
      .restaurant_address=(address == 'N/A' ? 'Find it yourself' : address)
      .restaurant_phone_label=  'Phone'
      .restaurant_phone=(phone == 'N/A' ? 'Ain\'t got it.' : phone)
      .restaurant_hours_label=  'Hours'
      .restaurant_hours= (hours == 'N/A' ? 'Couldn\'t find the hours. #sorrynotsorry' : hours)
      a(href='/grab-something').retry_button= 'Nah, let\'s get something else.'
      .links
        a(href='/').back_button= 'Just take me home.'
        a(href='/make-something').make_button= 'Let\'s make something instead.'
